<div>
  <button ng-click="vis.params.ver = vis.params.ver + 1 || 1">update</button>
  <style>
    vis-editor-vis-options .vis-option-item h5 {
      border-bottom: 1px solid black;
      background-color: lightgray;
      padding: 5px 0px 0px 5px;
    }

    vis-editor-vis-options .vis-editor-agg-header {
      background: lightblue;
      padding: 5px;
    }

    vis-editor-vis-options .vis-editor-agg-editor {
      margin-left: 10px;
    }
  </style>

  <!-- Global settings -->
  <div class="kuiSideBarSection">
    <div class="kuiSideBarSectionTitle">
      <div class="kuiSideBarSectionTitle__text">
        Global Settings
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="showLegend">
        Show Legend
      </label>
      <div class="kuiSideBarFormRow__control">
        <input class="kuiCheckBox" id="showLegend" type="checkbox" ng-model="vis.params.addLegend">
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="legendPosition">
        Legend Position
      </label>
      <div class="kuiSideBarFormRow__control">
        <select
          id="legendPosition"
          class="kuiSelect kuiSideBarSelect"
          ng-model="vis.params.legendPosition"
          ng-options="position for position in ['top', 'left', 'right', 'bottom']"
        ></select>
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="showCursor">
        Show Cursor
      </label>
      <div class="kuiSideBarFormRow__control">
        <input class="kuiCheckBox" id="showCursor" type="checkbox" ng-model="chart.show">
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="showCursor">
        Show Tooltip
      </label>
      <div class="kuiSideBarFormRow__control">
        <input class="kuiCheckBox" id="showCursor" type="checkbox" ng-model="vis.params.addTooltip">
      </div>
    </div>
  </div>

  <vislib-category-axis></vislib-category-axis>

  <vislib-value-axes></vislib-value-axes>

  <div class="sidebar-item-title ng-binding">
    Series
  </div>
  <div ng-repeat="chart in vis.params.chart.series" class="vis-editor-agg-group">
    <div class="vis-editor-agg-wrapper">
      <!-- agg.html - controls for aggregation -->
      <ng-form name="aggForm" class="vis-editor-agg"><!-- header -->
        <div class="vis-editor-agg-header">
          <!-- open/close editor -->
          <button
            aria-label="Open Editor"
            ng-click="editorOpen3 = !editorOpen3"
            type="button"
            class="btn btn-primary btn-xs vis-editor-agg-header-toggle"
          >
            <span
              aria-hidden="true"
              ng-class="{ 'fa-caret-down': editorOpen3, 'fa-caret-right': !editorOpen3 }"
              class="fa fa-caret-right"
            ></span>
          </button>

          <!-- title -->
          <span class="vis-editor-agg-header-title">{{chart.data.label}}</span>
        </div>

        <div group-name="groupName" ng-show="editorOpen3" class="vis-editor-agg-editor">
          <div class="vis-option-item form-group">
            <label>
              <input type="checkbox" ng-model="chart.show">
              Show
            </label><br>
            <label>
              Type
            </label>
            <select
              class="form-control"
              ng-model="chart.type"
              ng-options="mode for mode in vis.type.params.chartTypes"
            ></select>
            <label>
              Mode
            </label>
            <select
              class="form-control"
              ng-model="chart.mode"
              ng-options="mode for mode in vis.type.params.chartModes"
            ></select>
          </div>
          <div class="vis-option-item form-group">
            <label>
              Value Axis
            </label>
            <select
              class="form-control"
              ng-model="chart.valueAxis"
              ng-options="axis.id as axis.id for axis in vis.params.valueAxes track by axis.id"
            ></select>
          </div>
        </div>
      </ng-form>
    </div>
  </div>

  <vislib-trend-lines></vislib-trend-lines>

</div>
